<app-header [current]="'projects'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Single Family Homes</h1>
  </div>
</div>

<div class="blog-details ptremove">
  <div class="container">
    <div class="blog-content">
      <div class="blog-image" *ngIf="isShow">
        <div class="entry-thumbnail">
          <img class="img-responsive" src="images/blog/blog-post.jpg" alt="Blog Image">
        </div>
      </div> <!-- blog-image -->
      <div class="entry-title">
        <h3>Project Details</h3>
      </div>

      <div class="post-content">
        <p>Visha Consultants performed geotechnical investigation for over 500 single family homes construction projects
          involving new, one to five story residential structures; additions to existing residential structures;
          foundation upgrades and seismic retrofits of existing structures; mitigation of damage due to earth movement;
          groundwater seepage; and design and construction of retaining walls within California.</p><br>

      </div>

    </div>
  </div><!-- container -->
</div><!-- blog post -->


<app-footer></app-footer>
