<app-header [current]="'about'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>About Us</h1>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">About Us</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="about-us-section section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h1>What We Do</h1>
      <h2>About Our Construction</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="about-section-content">
          <h2>About Construction</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim aliquam, condimentum nisl a, laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet ullamcorper fringilla, tortor nunc ultrices dui, in tristique leo leo sed massa.</p>

          <p>Quisque et lectus pulvinar, porttitor mi non, elementum dui. Morbi mi nisl, tincidunt sed venenatis eget, finibus eu mauris. Nullam nisi lacus, feugiat eget varius eget, pellentesque dictum odio. Sed sollicitudin viverra est, at aliquam metus ultrices id. Duis eu purus vel nisl commodo facilisis vitae ut lectus.</p>

          <p>Sed elementum dapibus tellus, a dictum metus interdum ac. Nullam condimentum, dui volutpat fringilla molestie, libero tortor ultrices lorem, at tempus diam purus non velit. Aliquam vel nulla eleifend, consequat elit id, tristique massa. Fusce dolor velit, blandit ac erat ac, vestibulum ornare diam.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-us-image">
          <img class="img-responsive" src="images/about/about.jpg" alt="" >
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- features section -->

<div class="work-process image-bg section-padding">
  <div class="overlay"></div>
  <div class="container">
    <div class="section-title text-center">
      <h1>Why Choose Us</h1>
      <h2>Our Promise and Values</h2>
    </div>
    <div class="process-section">

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="work-proces left-content text-right">
            <div class="process-icon">
              <img class="img-responsive" src="images/process/proces1.png" alt="image">
            </div>
            <div class="process-info">
              <h4>Work Strategy</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
            </div>
          </div>
          <div class="work-proces left-content text-right">
            <div class="process-icon">
              <img class="img-responsive" src="images/process/proces2.png" alt="image">
            </div>
            <div class="process-info">
              <h4>Best Quality</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">

          <div class="work-proces">
            <div class="process-icon">
              <img class="img-responsive" src="images/process/proces3.png" alt="image">
            </div>
            <div class="process-info">
              <h4>Specialist Engineers</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
            </div>
          </div>
          <div class="work-proces">
            <div class="process-icon">
              <img class="img-responsive" src="images/process/proces4.png" alt="image">
            </div>
            <div class="process-info">
              <h4>Skilled Workers</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- process -->

<div class="team-section section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h1>OUR Team</h1>
      <h2>We have Experienced Members</h2>
    </div>

    <div class="team-members">
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <div class="member-image">
              <img class="img-responsive" src="images/team/4.jpg" alt="image">
            </div>
            <div class="team-info">
              <div class="member-info">
                <h4>Jhon Doe</h4>
                <p>Construction Manager</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt</p>
              <ul class="team-social list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <div class="member-image">
              <img class="img-responsive" src="images/team/3.jpg" alt="image">
            </div>
            <div class="team-info">
              <div class="member-info">
                <h4>Abir Ahnan</h4>
                <p>Chief Engineer</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt.</p>
              <ul class="team-social list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <div class="member-image">
              <img class="img-responsive" src="images/team/1.jpg" alt="image">
            </div>
            <div class="team-info">
              <div class="member-info">
                <h4>Mark Leon</h4>
                <p>Cheaf Colnsultant</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt.</p>
              <ul class="team-social list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <div class="member-image">
              <img class="img-responsive" src="images/team/2.jpg" alt="image">
            </div>
            <div class="team-info">
              <div class="member-info">
                <h4>Steve Clark</h4>
                <p>Project Manager</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt.</p>
              <ul class="team-social list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- container -->
</div><!-- team section -->

<div class="testimonial-section image-bg section-padding">
  <div class="overlay"></div>
  <div class="container">
    <div class="testimonial-slider">

      <div class="row testimonial text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="testimonial-image">
            <img class="img-responsive" src="images/testimonial/1.jpg" alt="image">
          </div>
          <div class="testimonial-info ">
            <p>Lorem Ipsum is simply dummy text of the printing and pesetting to industry. Lorem Ipsum has been the industry's standard dummy tet ever since they 1500s, </p>
            <h5>Jhon Doe | CEO, Eric Consultancy</h5>
          </div>
        </div>

      </div>
      <div class="row testimonial text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="testimonial-image">
            <img class="img-responsive" src="images/testimonial/2.jpg" alt="image">
          </div>
          <div class="testimonial-info">
            <p>Lorem Ipsum is simply dummy text of the printing and pesetting to industry. Lorem Ipsum has been the industry's standard dummy tet ever since they 1500s, </p>
            <h5>Mark Semouel | Vice Pricedent, KRBP</h5>
          </div>
        </div>

      </div>

      <div class="row testimonial text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="testimonial-image">
            <img class="img-responsive" src="images/testimonial/3.jpg" alt="image">
          </div>
          <div class="testimonial-info">
            <p>Lorem Ipsum is simply dummy text of the printing and pesetting to industry. Lorem Ipsum has been the industry's standard dummy tet ever since they 1500s, </p>
            <h5>Hall Melan | Developer, Artsell</h5>
          </div>
        </div>

      </div>

    </div>
  </div><!-- container -->
</div><!-- testimonial section -->

<div class="cta-section image-bg">
  <div class="call-to-action text-left">
    <div class="container">
      <div class="brand-info">
        <h3>Looking for a constructor for your next project ?</h3>
        <a href="#" class="btn btn-primary">Get a Quote</a>
      </div>
    </div>
  </div>
</div><!-- clients-section -->

<app-footer></app-footer>
