<app-header [current]="'careers'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Careers</h1>
  </div>
</div><!-- breadcrumb-section -->

<div class="about-us-section section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h1>Careers</h1>
    </div>
    <div class="row">

      <div class="comments-area">
        <div class="post-comment">
          <div class="post-nfo">
            <div class="author-image">
              <img class="img-responsive" src="images/blog/user-1.jpg" alt="Image">
            </div>
            <div class="commenter-info">
              <h5>Jhon Doe</h5>
              <p class="date">Posted on Aug 9, 2016</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco off a laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <a href="mailto:someone@example.com"> <i class="fa fa-share" aria-hidden="true"></i> Replay</a>
            </div>
          </div>
        </div>
        <div class="post-comment">
          <div class="post-nfo">
            <div class="author-image">
              <img class="img-responsive" src="images/blog/user.jpg" alt="Image">
            </div>
            <div class="commenter-info">
              <h5>Adam Marsal</h5>
              <p class="date">Posted on Aug 9, 2016</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim too veniam, quis nos to to it xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
              <a href="mailto:someone@example.com"> <i class="fa fa-share" aria-hidden="true"></i> Replay</a>
            </div>
          </div>
        </div>
        <div class="post-comment">
          <div class="post-nfo">
            <div class="author-image">
              <img class="img-responsive" src="images/blog/user3.jpg" alt="Image">
            </div>
            <div class="commenter-info">
              <h5>Maria Liza</h5>
              <p class="date">Posted on Aug 9, 2016</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim too veniam, quis nos to to it xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
              <a href="mailto:someone@example.com"> <i class="fa fa-share" aria-hidden="true"></i> Replay</a>
            </div>
          </div>
        </div>
      </div>



    </div><!-- row -->
  </div><!-- container -->
</div><!-- features section -->

<app-footer></app-footer>
