<app-header [current]="'projects'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Our Projects</h1>
  </div>
</div><!-- breadcrumb-section -->


<div class="recent-projects section-padding">
  <div class="container">
    <div class="section-title text-center">
      <div class="container">
        <h1>Our Projects</h1>
        <h2>We already completed</h2>
      </div>
    </div>
    <div class="row" >
      <div id="projects">

        <!-- Single Family Homes -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3><a href="/single-home">Single Family Homes</a></h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>

        <!-- Highrise Buildings -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3>Highrise Buildings</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>

        <!-- Hotels -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3>Hotels</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>

        <!-- Healthcare Facilities -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3>Healthcare Facilities</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>

        <!-- Commercial and Government Facilities -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3>Commercial and Government Facilities</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>


        <!-- Multi Residence Development -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3>Multi Residence Development</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>


        <!-- Schools -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3>Schools</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>


        <!-- Warehouse Construction -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3>Warehouse Construction</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>

        <!-- Churches and Cemeteries -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3>Churches and Cemeteries</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- recent projects -->

<app-footer></app-footer>
