<app-header [current]="'projects'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Warehouse Construction</h1>
  </div>
</div>

<div class="blog-details ptremove">
  <div class="container">
    <div class="blog-content">
      <div class="blog-image" *ngIf="isShow">
        <div class="entry-thumbnail">
          <img class="img-responsive" src="images/blog/blog-post.jpg" alt="Blog Image">
        </div>
      </div> <!-- blog-image -->
      <div class="entry-title">
        <h3>Project Details</h3>
      </div>

      <div class="post-content">
        <p>Approximately 8,000 square feet pre engineered farms delivery and distribution facility
          in Santa Ana Avenue, Sacramento, California. </p>
        <p>Specs warehouse building construction with about 50,000 square feet floor area, Sky Creek Road, in Sacramento, California. </p>
        <p>Two multipurpose tilt up warehouses construction with approximately 10,000 square feet floor area,
          Poppy House Road, in Rio Vista, California. </p>
        <p>New 10,000 square feet metal warehouse building construction, Lewis Avenue, Union City, California.</p>
         <p> New 84,000 square feet showroom and warehouse building, Power Inn Road, Sacramento, California.</p>
        <br>

      </div>

    </div>
  </div><!-- container -->
</div><!-- blog post -->


<app-footer></app-footer>
