<app-header [current]="'projects'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Highrise Buildings</h1>
  </div>
</div>

<div class="blog-details ptremove">
  <div class="container">
    <div class="blog-content">
      <div class="blog-image" *ngIf="isShow">
        <div class="entry-thumbnail">
          <img class="img-responsive" src="images/blog/blog-post.jpg" alt="Blog Image">
        </div>
      </div> <!-- blog-image -->
      <div class="entry-title">
        <h3>Project Details</h3>
      </div>

      <div class="post-content">
        <p>Five story high multiuse building construction with a footing print of
          400-foot long and 70-foot wide, South El Camino Real, San Mateo, California.</p>
        <p>Five-Story high with 2 level basement hotel construction project, Bark Lane, San Jose, California. </p>
        <br>

      </div>

    </div>
  </div><!-- container -->
</div><!-- blog post -->


<app-footer></app-footer>
