<app-header [current]="'projects'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Multi Residence Development</h1>
  </div>
</div>

<div class="blog-details ptremove">
  <div class="container">
    <div class="blog-content">
      <div class="blog-image" *ngIf="isShow">
        <div class="entry-thumbnail">
          <img class="img-responsive" src="images/blog/blog-post.jpg" alt="Blog Image">
        </div>
      </div> <!-- blog-image -->
      <div class="entry-title">
        <h3>Project Details</h3>
      </div>

      <div class="post-content">
        <ul>
          <li></li>
          <li>New 40-unit multi family buildings construction, San Pablo Dam Road, in Richmond, California.</li>
          <li>10-unit town houses construction, Wilkins Avenue, Napa, California.</li>
          <li>7-unit three story condominium construction, Walnut Blvd, Walnut Creek, California.</li>
          <li>Single family residential subdivision construction, Magnolia avenue, Newark, California.</li>
          <li>10-unit single family residential subdivision construction, Ferrell Avenue, Gilroy, California.</li>
          <li>Shaver Apartment complex construction in San Rafael, California.</li>
          <li>Single Family homes subdivision construction in Gilroy, California.</li>
          <li>New 12-Unit residential subdivision construction, Castro Valley, California.</li>
        </ul>

      </div>

    </div>
  </div><!-- container -->
</div><!-- blog post -->


<app-footer></app-footer>
