<app-header [current]="'projects'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Our Projects</h1>
  </div>
</div><!-- breadcrumb-section -->


<div class="recent-projects section-padding">
  <div class="container">
    <div class="section-title text-center">
      <div class="container">
        <h1>Our Projects</h1>
        <h2>We already completed</h2>
      </div>
    </div>
    <div class="row" >
      <ul id="project-menu">
        <li data-filter="*" class="cbp-filter-item cbp-filter-item-active">Projects</li>
        <li data-filter=".filter-homes" class="cbp-filter-item">Single Family Homes</li>
        <li data-filter=".filter-two" class="cbp-filter-item">Highrise Buildings</li>
        <li data-filter=".filter-hotels" class="cbp-filter-item">Hotels</li>
        <li data-filter=".filter-health" class="cbp-filter-item">Healthcare Facilities</li>
        <li data-filter=".filter-five" class="cbp-filter-item">Commercial and Government Facilities</li>
        <li data-filter=".filter-multi-residence" class="cbp-filter-item">Multi Residence Development</li>
        <li data-filter=".filter-five" class="cbp-filter-item">Schools</li>
        <li data-filter=".filter-five" class="cbp-filter-item">Warehouse Construction</li>
        <li data-filter=".filter-five" class="cbp-filter-item">Churches and Cemeteries</li>
      </ul>
      <div id="projects">

        <!-- home projects -->
        <div class="cbp-item project-content filter-homes">
          <div class="project-title">
            <h3>Custom Homes</h3>
          </div>
          <div class="project-item">
            <a href="images/project/custom-homes.png" class="image-link">
              <img class="img-responsive" src="images/project/custom-homes.png" alt="Custom Homes" />
            </a>
          </div>
          <div class="project-info">

          </div>
        </div>

        <!-- hotel projects -->
        <div class="cbp-item  project-content filter-hotels">
          <div class="project-title">
            <h3>Hyatt Palace Novato</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/hyatt-palace.png" class="image-link">
              <img class="img-responsive" src="images/project/hyatt-palace.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>

        <!-- health projects -->
        <div class="cbp-item  project-content filter-health">
          <div class="project-title">
            <h3>Hyatt Palace Novato</h3>
            <span>Clients: Golden State Properties</span>
          </div>
          <div class="project-item">
            <a href="images/project/2.jpg" class="image-link"><img class="img-responsive" src="images/project/2.jpg" alt="" /></a>
          </div>
          <div class="project-info">
            <p>Avid Hotel construction with 4-story high building and 95-geust rooms, Churchill Downs Avenue,
              Woodland, California. 3-story high, Hyatt Place Novato Hotel Construction in Novato, California. </p>
          </div>
        </div>

        <!-- multi residence projects -->
        <div class="cbp-item  project-content filter-multi-residence">
          <div class="project-title">
            <h3>Shaver Apartment complex</h3>
            <span>Clients: Fontana Construction Inc</span>
          </div>
          <div class="project-item">
            <a href="images/project/apartment.png" class="image-link">
              <img class="img-responsive" src="images/project/apartment.png" alt="" />
            </a>
          </div>
          <div class="project-info">
            <p>Shaver Apartment complex construction in San Rafael, California. </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- recent projects -->

<app-footer></app-footer>
