<app-header [current]="'projects'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Our Projects</h1>
  </div>
</div><!-- breadcrumb-section -->


<div class="recent-projects section-padding">
  <div class="container">
    <div class="section-title text-center">
      <div class="container">
        <h1>Our Projects</h1>
        <h2>We already completed</h2>
      </div>
    </div>
    <div class="row" >
      <ul id="project-menu">
        <li data-filter="*" class="cbp-filter-item cbp-filter-item-active">All Projects</li>
        <li data-filter=".filter-one" class="cbp-filter-item">Architecture</li>
        <li data-filter=".filter-two" class="cbp-filter-item">Construction</li>
        <li data-filter=".filter-three" class="cbp-filter-item">Interior Design</li>
        <li data-filter=".filter-four" class="cbp-filter-item">Flooring</li>
        <li data-filter=".filter-five" class="cbp-filter-item">Building</li>
      </ul>
      <div id="projects">
        <div class="cbp-item project-content filter-one filter-five filter-two">
          <div class="project-title">
            <h3><a href="project-details.html">Nam liber tempor cum</a></h3>
            <span>Clients: Dreamer</span>
          </div>
          <div class="project-item">
            <a href="images/project/1.jpg" class="image-link"><img class="img-responsive" src="images/project/1.jpg" alt="" /></a>
          </div>
          <div class="project-info">
            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit</p>
          </div>
        </div>
        <div class="cbp-item  project-content filter-three filter-two">
          <div class="project-title">
            <h3><a href="project-details.html">Lorem ipsum dolor sit</a></h3>
            <span>Clients: Asthetic</span>
          </div>
          <div class="project-item">
            <a href="images/project/2.jpg" class="image-link"><img class="img-responsive" src="images/project/2.jpg" alt="" /></a>
          </div>
          <div class="project-info">
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil</p>
          </div>
        </div>
        <div class="cbp-item  project-content filter-one filter-four">
          <div class="project-title">
            <h3><a href="project-details.html">Legentis in iis qui facit</a></h3>
            <span>Clients: Martin</span>
          </div>
          <div class="project-item">
            <a href="images/project/3.jpg" class="image-link"><img class="img-responsive" src="images/project/3.jpg" alt="" /></a>
          </div>
          <div class="project-info">
            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit</p>
          </div>
        </div>
        <div class="cbp-item project-content filter-five filter-two">
          <div class="project-title">
            <h3><a href="project-details.html">Duis autem vel eum </a>  </h3>
            <span>Clients: Marbel</span>
          </div>
          <div class="project-item">
            <a href="images/project/4.jpg" class="image-link"><img class="img-responsive" src="images/project/4.jpg" alt="" /></a>
          </div>
          <div class="project-info">
            <p>Mirum est notare quam littera gothica, quam nunc putamus parum</p>
          </div>
        </div>
        <div class="cbp-item project-content filter-two filter-three">
          <div class="project-title">
            <h3><a href="project-details.html">Lorem ipsum dolor sit</a></h3>
            <span>Clients: Asthetic</span>
          </div>
          <div class="project-item">
            <a href="images/project/2.jpg" class="image-link"><img class="img-responsive" src="images/project/5.jpg" alt="" /></a>
          </div>
          <div class="project-info">
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil</p>
          </div>
        </div>
        <div class="cbp-item project-content filter-five filter-four filter-one filter-three">
          <div class="project-title">
            <h3><a href="project-details.html">Legentis in iis qui facit</a></h3>
            <span>Clients: Martin</span>
          </div>
          <div class="project-item">
            <a href="images/project/3.jpg" class="image-link"><img class="img-responsive" src="images/project/6.jpg" alt="" /></a>
          </div>
          <div class="project-info">
            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- recent projects -->

<div class="cta-section image-bg">
  <div class="call-to-action text-left">
    <div class="container">
      <div class="brand-info">
        <h3>Looking for a constructor for your next project ?</h3>
        <a href="#" class="btn btn-primary">Get a Quote</a>
      </div>
    </div>
  </div>
</div><!-- clients-section -->

<app-footer></app-footer>
