<app-client-section></app-client-section>
<footer class="footer">
  <div class="contact-section">
    <div class="container">
      <div class="row">

        <div class="col-sm-3">
          <div class="contact-widget">
            <img class="img-responsive" src="images/logo2.png" alt="">
            <div class="contact-widget">
              <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/services">Services</a></li>
              </ul>
              <ul>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-9">
          <div class="contact-widget">
            <h3 class="text-center">Our Offices</h3>
            <div class="col-sm-6">
              <address>
                <ul>
                  <li><span class="address">Address:</span>11501 Dublin Blvd, Suite 200 Dublin, California 94568</li>
                  <li><span>Phone: </span><a href="tel:+210 2234 546 78">(510) 501-3240</a></li>
                  <li><span>Email: </span><a href="mailto:support@diagram.com">info@vishaconsultants.com</a></li>
                </ul>
              </address>
            </div>
            <div class="col-sm-6">
              <address>
                <ul>
                  <li><span class="address">Address:</span>2485 Autumn Meadow Avenue Sacramento, California 95825</li>
                  <li><span>Phone: </span><a href="tel:+210 2234 546 78">(916) 242-8286</a></li>
                  <li><span>Email: </span><a href="mailto:support@diagram.com">info@vishaconsultants.com</a></li>
                </ul>
              </address>
            </div>
          </div>
        </div>

      </div><!-- row -->

    </div><!-- container -->
  </div><!-- contact informetion -->

  <div class="footer-bottom">
    <div class="container">
      <div class="copyright-text text-center">
        <p>Copyright © 2021 Visha Consultancy.</p>
      </div>
    </div>
  </div><!-- footer bottom -->
</footer><!-- footer -->
