<app-header [current]="'projects'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Schools</h1>
  </div>
</div>

<div class="blog-details ptremove">
  <div class="container">
    <div class="blog-content">
      <div class="blog-image" *ngIf="isShow">
        <div class="entry-thumbnail">
          <img class="img-responsive" src="images/blog/blog-post.jpg" alt="Blog Image">
        </div>
      </div> <!-- blog-image -->
      <div class="entry-title">
        <h3>Project Details</h3>
      </div>

      <div class="post-content">

        <ul>
          <li></li>
          <li>Maker Space Classroom construction at Alvarado Elementary School, in Union City California.</li>
          <li>Several buildings modernization construction, Searles Elementary School, Union City, California.</li>
          <li>Track and Field Stadium Entry Structure construction, Logan High School, Union City, California.</li>
          <li>21st Century Building Construction, Alvarado Middle School, Union City, California.</li>
          <li>Solar Power installation at eight school sites for New Haven School District in Union City, California.</li>
        </ul>

      </div>

    </div>
  </div><!-- container -->
</div><!-- blog post -->


<app-footer></app-footer>
