<app-header [current]="'projects'"></app-header>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Schools</h1>
  </div>
</div>

<div class="details-section section-padding ptremove">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div id="product-carousel">
          <div class="carousel-image">
            <img class="img-responsive" src="images/project/school.jpg" alt="Image">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="details-info">

          <div class="details-list">
            <ul>
              <li>Maker Space Classroom construction at Alvarado Elementary School, in Union City California.</li>
              <li>Several buildings modernization construction, Searles Elementary School, Union City, California.</li>
              <li>Track and Field Stadium Entry Structure construction, Logan High School, Union City, California.</li>
              <li>21st Century Building Construction, Alvarado Middle School, Union City, California.</li>
              <li>Solar Power installation at eight school sites for New Haven School District in Union City, California.</li>
            </ul>
          </div>

        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- details section -->

<app-footer></app-footer>
